:root{
  --size:1rem;
}
.app-btn{
  border:none;
  padding:0 2em;
  line-height: 2em;
  background-color: var(--red-darken-1);
  text-transform: uppercase;
  letter-spacing: 0.25;
  border-radius: var(--radius);
  color:var(--ms-text);
  font-weight: 800;
  cursor:pointer;
  transition:background-color 0.3s ease;
}
.app-btn-success{
  border:none;
  padding:0 2em;
  line-height: 2em;
  background-color: var(--indigo-accent-3);
  text-transform: uppercase;
  letter-spacing: 0.25;
  border-radius: var(--radius);
  color:var(--ms-text);
  font-weight: 800;
  cursor:pointer;
  transition:background-color 0.3s ease;

}
.app-btn-warning{
  border:none;
  padding:0 2em;
  line-height: 2em;
  background-color: var(--amber-darken-4);
  text-transform: uppercase;
  letter-spacing: 0.25;
  border-radius: var(--radius);
  color:var(--ms-text);
  font-weight: 800;
  cursor:pointer;
  transition:background-color 0.3s ease;
}
.app-btn:hover{
  background-color: var(--pink-darken-1);
}
.app-btn-success:hover{
  background-color: var(--deep-purple-accent-4);
} 
.app-btn-warning:hover{
  background-color: var(--amber-lighten-1);
}
input[type=text] {
  width: 14rem;
  box-sizing: border-box;
  padding:0 1em;
  border: 2px solid var(--ms-bg-mid);
  border-radius: 4px;
  font-size: var(--large);
  background-color: var(--ms-text);
  color:var(--ms-background);

  
}
input[type=text]{
  margin-top:2rem;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}
.custom-select {
  display:grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.custom-select select {
  background-color: var(--ms-background);
  border: none;
  border-radius: 0.25rem;
  color: var(--amber-lighten-1);
  cursor: pointer;
}
.custom-select select {
  appearance: none;
  text-transform: uppercase;
  text-align: center;
}
  @media(min-width:768px){
    .custom-select {
      font-size:0.9rem;
      height:3rem;
      float:right;
      line-height:3rem;
      width:192px;
    }
    .custom-select::before,
    .custom-select::after {
        --size: 0.3rem;
        content: "";
        line-height:48px;
        right: 1rem;
        pointer-events: none;
    }
    
    .custom-select::before {
        border-left: var(--size) solid transparent;
        border-right: var(--size) solid transparent;
        border-bottom: var(--size) solid black;
        top: 40%;
    }
    
    .custom-select::after {
        border-left: var(--size) solid transparent;
        border-right: var(--size) solid transparent;
        border-top: var(--size) solid black;
        top: 55%;
    }
  }
  @media(max-width:768px){
      .custom-select{
        font-size:0.75rem;
        height:3rem;
       
        float:left;
        line-height: 3rem;
        margin: 0 1em ;
      }
      .custom-select select{
        text-align: inherit; 
      }
  }
 