
@import url('normalize.css');
@import url('base.css');
@import url('nav-container.css');
@import url('modal.css');

@import url('images.css');
@import url('fonts.css');
@import url('buttons.css');
@import url('grid.css');

 body, html {
    scroll-behavior: smooth;
    height: 100%;
    
  }
  

  .parallax {
    background-image: url("/assets/pngaaa.com-5161576.png");
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:grayscale(100%);
  }
/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.two-halves{
  border-bottom:0px dashed red;
  width:100%;
  display:inline-flex;
  justify-content:space-around;
  align-items: center;
  gap:4em;
  overflow: hidden;
}
.hidden{display:none;}

@media(max-width:768px){
  .two-halves{
    display:block;
    text-align: center;
  }
  .hidden-the-nav{
    display:none;
  }
}
@media(min-width:768px){
  .collapse-bottom{
    display:none;
  }
  
  
}
