
@import url('normalize.css');
@import url('base.css');
@import url('nav-container.css');
@import url('modal.css');
@import url('dots.css');
@import url('images.css');
@import url('fonts.css');
@import url('buttons.css');
@import url('grid.css');
.hidden{display:none;}
 body, html {
    scroll-behavior: smooth;
    height: 100%;
    
  }
  .parallax {
    /* The image
    background-image: url("/assets/service.png");

    min-height: 400px;
    Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.two-halves{
  border-bottom:0.5px dashed red;
  width:100%;
  display:inline-flex;
  justify-content:space-around;
  align-items: center;
  gap:4em;
  overflow: hidden;
}