:root{
    --normal:1rem;
    --large:1.5rem;
    --larger:2rem;
    --extra-large:3rem;
    --big:18.75rem;
    
    --indent-1:1em;
    --indent-1-half:1.5em;
    --indent-2:2em;
    --indent-2-half:2.5em;
    --indent-3:3em;
    --indent-3-half:3.5em;
    --quarter:0.25em;
    --eigth:0.125em;
}

:root{
    --section-gap: 10ch;
    --section-gap-small:2ch;
    --spacing:1ch;
    --word-space:normal;
}
:root{
    --ms-text:var(--vt-c-white-soft);
    --ms-background:var(--vt-c-black-soft);
    --ms-bg-mid:var(--vt-c-text-light-2);
    --ms-bg-dark:var(--vt-c-divider-light-0);
    --ms-bg-light:var(--vt-c-text-dark-2);
    --ms-red-shadow:var(--red-darken-4-75);
    --ms-pink-shadow:var(--pink-darken-1-80);
}

.text-container{
    text-align: justify;
    text-justify: inter-word;
}
 
.text-container{
    font-size:var(--normal);
    font-weight: 700;
    letter-spacing:var(--eight) ;
    word-spacing: var(--word-space);
    margin:2em 0;
}

.text-container h1{
    text-transform: capitalize;
    text-align:center;
    font-weight: 900;
    font-size: var(--extra-large);
    letter-spacing: var(--quarter);
}
.text-container h2{
    text-transform: uppercase;
    font-style:oblique;
    font-weight: 900;
    font-size: var(--larger);
}
.text-container p{
    padding-top: var(--indent-1);
    font-weight: 700;
}
.text-container p:first-letter{
    text-transform: uppercase; 
}
.text-container em{
    font-weight: 800;
}

.text-container ul{
    padding-top: var(--indent-1);
    margin-left: var(--indent-1-half);
    list-style-type: square;
}
.text-container ul li{
    font-weight: 700;
}
.text-container h3{
    padding-top: var(--indent-1);
    font-size: var(--large);
    font-weight: 800;
}
.text-container h3{
    text-indent: var(--indent-1-half);
}

.text-container h3:first-letter{
    text-transform: capitalize;  
}
.text-container article p{
    margin-left:var(--indent-2);
}
.text-container h4{
    padding-top: var(--indent-1);
    font-size: var(--large);
    font-weight: 700;
    text-indent: var(--indent-2-half);
}
.text-container cite{
    float:right;
}
.text-container details{
    padding-left: var(--indent-3-half);
}
.text-container blockquote{
    padding-left:var(--indent-3);
    font-style: oblique;
}
a{
    font-size: 1rem;
    text-decoration: none;
    color:var(--ms-text);
}

.ms-bolder{
    text-transform: uppercase;
    font-weight:900;
}
.ms-transform{
    padding-top:var(--indent-1);
    font-size:var(--large);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    padding-bottom: var(--indent-1);
}
.h3-scope{
    margin-top: var(--indent-1);
    margin-bottom: var(--indent-1);  
}
.h3-scope, menu{
    text-align: center;
    font-size: var(--larger);
    font-weight: 800;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    font-style: italic;
}

.rainbow{
    background: linear-gradient(to right, var(--red-darken-1), var(--amber-lighten-1));
    -webkit-background-clip: text;
    color:transparent; 
}

.dark-stroke{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--ms-text);
    color:transparent;
       
  }
.light-stroke{
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: var(--ms-background);
    color:transparent;
  }
.dark-shadow{
    text-shadow:2px 4px 10px var(--ms-text);
  }
.light-shadow{
    text-shadow:4px 4px 10px var(--ms-background);
  }
 

