@media(min-width:760px){
    :root{
        --normal:1.25rem;
        --large:1.5rem;
        --larger:2rem;
        --extra-large:3rem;
        --padding-border:2.5rem;
    } 
    :root{
        --space-extra: 9ch;
        --space:1ch;
        --space-small:2ch;
        --space-half:0.25ch;
        --space-eight:0.125ch;
    }
        .text-container h1,
        .text-container h2,
        .text-container h3,
        .text-container p,
        .text-container article p
        {
            line-height:2; 
        } 
        
}
@media(max-width:768px){
    :root{
        --normal:1rem;
        --large:1.25rem;
        --larger:1.5rem;
        --extra-large:2rem;
        --padding-border:1.25rem;
    } 
    :root{
        --space-extra: 0.75ch;
        --space:0.8ch;
        --space-small:1.5ch;
        --space-half:0.2ch;
        --space-eight:0.1ch;
    }
    .text-container h1,
    .text-container h2,
    .text-container h3,
    .text-container p,
    .text-container article p
    {
        line-height:1.5; 
    } 
}
:root{
    --indent:1em;
    --indent-1-half:1.5em;
    --indent-2:2em;
    --indent-2-half:2.5em;
    --indent-3:3em;
    --indent-3-half:3.5em;
    --quarter:0.25em;
    --eigth:0.125em;
}
 
.text-container{
    border:var(--padding-border) solid transparent;
    word-spacing:normal;
}   
.text-container cite{
    float: right;
    font-style:oblique;
    text-transform: capitalize;
}

.text-container{

    word-spacing: var(--word-space);
}
.text-container article p{
    padding-left: var(--indent-2);
}
.text-container p{
    padding-left: var(--indent);
    font-weight: 700;
}
.text-container p,
.text-container article p{
    padding-top:var(--indent);
    letter-spacing:var(--space-eight) ;
    font-weight: 700;
    padding-bottom: var(--indent);
}
.text-container p:first-letter{
    text-transform: uppercase; 
    font-size:var(--normal) ;
}
.text-container h4{
    padding-top: var(--indent);
    padding-left: var(--indent);
    font-size: var(--normal);
    letter-spacing: var(--space-half);
    text-transform: capitalize;
    font-weight: 800;
}

.text-container h3{
    padding-top: var(--indent-2-half);
    font-size: var(--large);
    text-transform: capitalize;
}
.text-container h3,
.text-container h2
{
    letter-spacing:var(--space-half) ;
    font-weight: 900;
}
.text-container h1,
.text-container h2{
    text-align: center;
}
.text-container h2{
    font-size:var(--larger);
    text-transform: capitalize;
}

.text-container h1{
    font-size: var(--extra-large);
    text-transform: uppercase;
    letter-spacing:var(--space) ;
    font-weight: 900;
}


.text-container h3:first-letter{
    text-transform: capitalize;  
}

.text-container em{
    font-weight: 800;
    text-decoration: underline;
}

.text-container ul{
    list-style-type: square;
    padding-top: var(--indent);
    padding-left:var(--indent-2-half);
}
.text-container ul li{
    line-height: 2;
    text-transform: capitalize;
    letter-spacing:var(--space-half) ;
    font-weight: 800;
}
.text-container a{
    font-size: 1rem;
    text-decoration: none;
    color:var(--ms-text);
}