.stamps{
    transition:transform 0.3s ease-in;
}
.stamps:hover{
    transform: translateY(-4px);
}
.dl{
    padding:0 4rem; 
}
.dl dt{
    text-transform: uppercase;
    font-weight: 800;
    color:var(--indigo-accent-3);
}
.dl dd:first-letter{
    text-transform: uppercase;
}
.dl dd {
    display: block;
    margin-left: 40px;
    font-weight: 700;
}

.grid-logos-container{
    border-left:0.5px dashed red;border-right:0.5px dashed red;
    display: grid;
    margin:0 auto;
    place-items:center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:4em 1rem;
    max-width:960px;
   
}