.fixed-top-right, .collapse-bottom{
    position:fixed;
    border:none;
    top:0;
    right:0;
    color:var(--ms-text);
    background-color: var(--ms-background);
    z-index: 99;
    margin:0.75rem 2rem;
    font-size: 1.25rem;
    border-radius: 0.5em;
    transition:border 0.3 ease;
}

.fixed-top-right:hover{
    border:0.01em dashed var(--ms-bg-light);
}
.fixed-top{
    position:fixed;border-top:0em dashed orange;
    background-color: var(--ms-background);
    top:0;
    left:0;
    z-index:9;
    max-height: 6rem;
    width:min(100vw, 100%);
}


.active{
    border-bottom:2px solid var(--ms-text);
}

@media(max-width:768px){
    .brand{
        padding:0 1rem;
    }
    .ul-collapse{
        height:12rem;
        width:100%;
    }
    .ul-collapse span{
        width:100%;
        float:left;
    } 
     .sub-header-top{
        min-width: 100%;
    }  
    .sub-header-bottom nav{
        
        max-width:max(384px, 90%);
    }
    .sub-header-bottom nav h2{
        float:left;
        font-size:1rem;
        line-height: 3rem;
    }
    .sub-header-bottom nav div{
        float:left;
    } 
}
@media(min-width:768px){
    .brand{
        padding:0 3rem;
    }
    .ul-collapse{
        height:3rem;
        line-height:3rem;  
    }
    .ul-collapse span{
        float:right; 
        padding:0 1.5em 0 1em;        
    }
    .sub-header-top{
        width:min(85vw,100%);
        margin:auto;
    }
    .sub-header-top h2{
       float:left;
    }   
    .sub-header-bottom {
        height:3rem;
        line-height: 3rem;
    }
    .sub-header-bottom nav{
        height:3rem;
        line-height: 3rem;
        margin:auto;
        max-width:max(80vw, 90%);
    }
    .sub-header-bottom nav h2{
        float:left;
        
    }
    .sub-header-bottom nav div{
        float:right;
    }
}
.ul-collapse{
    background-color: var(--ms-background);
    cursor:pointer;
}
.ul-collapse span:hover{
    border-bottom:2px solid var(--ms-text);
}
.ul-collapse span a:hover{
    color:var(--ms-text);
}
.ul-collapse span{
    line-height: 2.65rem;
    text-align: center;
    border-bottom: 2px solid transparent;
}
.brand{
    float:left;  border-right:0px solid lime;
    padding-top: 0.25em;
    height: 3rem;
}
.brand, .ul-collapse{
    font-size:24px;
    letter-spacing: 0.125em;
    font-style: oblique;
    text-transform:uppercase;
    font-weight: 900;
}
.brand{
    margin:auto;
}
a{
    font-size: 1rem;
    text-decoration: none;
    color:var(--ms-text);
}

.brand a, .ul-collapse li a{
    color:var(--ms-text);
    text-decoration: none;
    line-height: 3rem;
}
.sub-header-bottom{
    border-top:0.25em solid var(--ms-bg-mid); border-bottom:0.02em solid transparent;
    height:3rem;
    line-height: 3rem;
    backdrop-filter: blur(2px) grayscale(100%);
  
}/*
 background-color: linear-gradient(to bottom,var(--ms-background),var(--ms-bg-dark));
 */