
.fixed-top{
    position:fixed;border-top:1px dashed orange;
    top:0;
    left:0;

    width:100vw;
    background-color: var(--ms-background);
  
}
.nav-container {
    border-bottom:2px solid yellow;

}
.nav-container ul{
    list-style:none;
}
.nav-container ul li{
    display:inline-block;
    border-bottom:2px solid transparent;
}

.ul-collapse{
    float:right;  border-left:1px solid lime;
    margin-right:196px;
    cursor:pointer;
}
.brand{
    float:left;  border-right:1px solid lime;
    padding:0 48px;
 
    padding-top: 0.25em;
}
.brand, .ul-collapse{
    font-size:24px;
    letter-spacing: 0.125em;
    font-style: oblique;
    text-transform:uppercase;
    font-weight: 900;
}
.brand{
    margin:auto;
    
}
.brand a, .ul-collapse li a{
    color:var(--ms-text);
    text-decoration: none;
    line-height: 48px;
}
 
.sub-header-top{
    border-top:2px solid var(--ms-bg-mid); border-bottom:0.5px dashed red;
    margin-top:46px;
    text-align: center;
    height:52px; 
   line-height: 48px;
}
.sub-header{
    max-width:min(80rem, 90%);
    margin:auto;
}
.sub-header h2{
   float:left;
}



.ul-collapse li{
    display:flex;
    width:144px;
    text-align: center;
}
-ul-collapse li:not:first-child{

}
.ul-collapse li:hover{
    border-bottom:2px solid var(--ms-text);

}
.ul-collapse li a:hover{
    color:var(--ms-text);
}
.active{
    border-bottom:2px solid var(--ms-text);
}
@media(max-width:768px){
    .ul-collapse{
        display:none;
    }
}

